!!! 5
html
	head
		title DonBlog
		link(href='/bs/css/bootstrap.min.css', rel='stylesheet')
		link(href='/bs/css/bootstrap-responsive.min.css', rel='stylesheet')
		link(href='/stylesheets/header.css', rel='stylesheet')
		script(src='/js/json2.js')
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='http://documentcloud.github.com/underscore/underscore-min.js')
		script(src='/bs/js/bootstrap.min.js')
	body
		header
			.nav
				a(href='/admin/users') Users
				a(href='/admin/posts') Posts
				a(href='/admin/editor') Editor
				a(href='/').user.login Home
		.body
			!=body
		footer
			#{help.site.copy}